body {
  background-color: rgb(243, 243, 243);
}

footer {
  margin: 0px;
  padding: 20px;
  box-sizing: content-box;
  background-color: #363636;
}

.footer {
  font-family: 'Tektur', sans-serif;
  font-size: 24px;
  color: rgb(243, 243, 243);
  text-align: center;
}

@media (max-width: 800px) {
  img {
    width: 500px;
  }
}

@media (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: center;
  }
  nav a {
    font-size: 28px;
  }
  th,
  td {
    font-size: 22px;
  }

  h1 {
    text-align: center;
  }

  img {
    width: 100%;
  }
}

@media (max-width: 400px) {
  table {
    font-size: 20px;
  }
}

header {
  margin: 30px;
  padding: 0px;
  box-sizing: content-box;
}

main {
  margin: 30px;
  padding: 0px;
  box-sizing: content-box;
}

nav {
  display: flex;
  flex-direction: row;
  margin: 0px;
  column-gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
}

.active {
  color: tomato;
}
h1 {
  font-family: 'Tektur', sans-serif;
  font-size: 64px;
  color: #363636;
  text-align: center;
}

h2 {
  font-family: 'Tektur', sans-serif;
  font-size: 32px;
  color: #363636;
}

p {
  font-family: 'Tektur', sans-serif;
  font-size: 24px;
  color: #363636;
}

button {
  font-family: 'Tektur', sans-serif;
  font-size: 18px;
  color: #363636;
}

ul {
  font-family: 'Tektur', sans-serif;
  font-size: 24px;
  color: #363636;
  margin: 20px;
  padding: 0px;
}

th {
  font-family: 'Tektur', sans-serif;
  font-size: 24px;
  color: #363636;
  border: 2px solid #363636;
  padding: 5px;
}

td {
  font-family: 'Tektur', sans-serif;
  font-size: 24px;
  color: #363636;
  border: 2px solid #363636;
  padding: 5px;
}

img {
  max-width: 1200px;
  height: auto;
}

table {
  padding: 0px;
  border: thin solid #363636;
  border-collapse: collapse;
  text-align: center;
}

a {
  text-decoration: none;
  font-family: 'Tektur', sans-serif;
  font-size: 24px;
  color: #363636;
}

a:hover {
  color: tomato;
}
